.btnMain:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 255, 0.37);
}

.LinkComp {
    transition: .2s;

    .icon {

        transform: translateX(0px);
    }

    &:hover .icon {
        transition: .2s;
        transform: translateX(5px);
    }
}