@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: .2s;
}

::-webkit-scrollbar-thumb {
    background: #212bb8;
    border-radius: 5px;
    transition: .2s;
}

html.light {

    ::-webkit-scrollbar-track {
        background: rgb(229, 231, 235);
    }



}



html,
body {
    max-width: 100%;
    overflow-x: hidden;
}








.containerMain {
    margin: 0 20px;
    width: 100%;
    // background-color: red;
}


@media only screen and (min-width: 500px) {
    .containerMain {

        width: 100%;
        max-width: 700px;

    }
}

@media only screen and (min-width: 1000px) {
    .containerMain {
        width: 100%;
        max-width: 1250px;


    }
}